<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>365361405167-8dpe2m04o98387r334osp4pjpvatkqkh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.365361405167-8dpe2m04o98387r334osp4pjpvatkqkh</string>
	<key>API_KEY</key>
	<string>AIzaSyAPwTDndwnqKnWKDdNdnKzXtgzLOek_4SQ</string>
	<key>GCM_SENDER_ID</key>
	<string>365361405167</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ai.bluming.PLNews</string>
	<key>PROJECT_ID</key>
	<string>premier-league-news-d747a</string>
	<key>STORAGE_BUCKET</key>
	<string>premier-league-news-d747a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:365361405167:ios:1d6de84ed9ecde814bcf1a</string>
</dict>
</plist>